main {padding-top: 80px;}
.div_wrap {margin: 5px 20px;}
h1 {font-weight: 500;text-align: center;}
.title {text-align: center;}
h2 {
  font-size: 20pt;
  font-weight: 300;
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
}
h2 span {
  position: relative;
  width: 0px;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
p {font-weight: 300;font-size: 13pt;}
.div_none_opacty {
  animation: op_an 2s ease-in forwards;
  background: red;
}
.hidden_box {
    margin: 2em 0;
    padding: 0;
}
#label_wrap label {
  position: relative;
}
.hidden_box label {padding: 5px;}
.hidden_box input {
    display: none;
}
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
}
input:checked ~ #label_wrap label span {
  display: block;
  border-radius: 3px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform : translateX(-50%);
  transform : translateX(-50%);
}
#label1:checked ~ #div_1 {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}
#label1:checked ~ #div_1 .title h2 span {
  display: block;
  animation: typewriter 0.2s 0.1s forwards;
}
#label1:checked ~ #div_1 .text p {
  display: block;
  opacity: 0;
  animation: show_text 0.5s 0.5s forwards;
}
#label1:checked ~ #label_wrap label#for_1 span {
  border-bottom: solid 3px #989898;
  animation: show_under_line 0.2s 0.1s forwards;
}
#label2:checked ~ #div_2 {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}
#label2:checked ~ #div_2 .title h2 span {
  display: block;
  animation: typewriter 0.2s 0.1s forwards;
}
#label2:checked ~ #div_2 .text p {
  display: block;
  opacity: 0;
  animation: show_text 0.5s 0.5s forwards;
}
#label2:checked ~ #label_wrap label#for_2 span {
  border-bottom: solid 3px #989898;
  animation: show_under_line 0.2s 0.1s forwards;
}
#label3:checked ~ #div_3 {
    padding: 10px 0;
    height: auto;
    opacity: 1;
    display: block;
}
#label3:checked ~ #div_3 .title h2 span {
  display: block;
  animation: typewriter 0.2s 0.1s forwards;
}
#label3:checked ~ #div_3 .text p {
  display: block;
  opacity: 0;
  animation: show_text 0.5s 0.5s forwards;
}
#label3:checked ~ #label_wrap label#for_3 span {
  border-bottom: solid 3px #989898;
  animation: show_under_line 0.2s 0.1s forwards;
}
@keyframes show_h2_animation {
    0% {transform:scaleX(0.8); opacity: 0;}
    100% {transform:scaleX(1); opacity: 1;}
}
@keyframes typewriter{
  from{width: 0; opacity: 0;}
  to{width: 100%; opacity: 1;}
}
@keyframes show_under_line{
  from{width: 0; opacity: 0;}
  to{width: 30px; opacity: 1;}
}
@keyframes show_text {
0% {
 opacity: 0;
 transform: translateX(-30px);
}
 100% {
  opacity: 1;
  transform: translateX(0);
 } 
}
@media screen and (min-width: 959px) {
  .hidden_box {
    width: 100%;
    height: 50vh;
    position: relative;
  }
  #label_wrap, #hidden_show_wrap {
    position: absolute;
    top: 50%;
    -webkit-transform : translateY(-50%);
    transform : translateY(-50%);
  }
  #label_wrap {
    width: 30%;
    display: inline-block;
    position: absolute;
    left: 10px;
  }
  #hidden_show_wrap {
    width: 70%;
    display: inline-block;
    position: absolute;
    right: 10px;
  }
  .hidden_show {
    width: 100%;
  }
  .hidden_box label {
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 959px) {
  #label_wrap {
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  #hidden_show_wrap {
    width: 100%;
    display: inline-block;
  }
  .hidden_box label {
    display: inline-block;
    border-right: solid 1px;
  }
  .hidden_box label:last-of-type {
    border-right: none;
  }
}