@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icon/icomoon.eot?7wixc');
  src:  url('/fonts/icon/icomoon.eot?7wixc#iefix') format('embedded-opentype'),
    url('/fonts/icon/icomoon.ttf?7wixc') format('truetype'),
    url('/fonts/icon/icomoon.woff?7wixc') format('woff'),
    url('/fonts/icon/icomoon.svg?7wixc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user-solid-circle:before {
  content: "\e90d";
}
.icon-save_alt:before {
  content: "\e90e";
}
.icon-css3:before {
  content: "\e904";
  color: #1572b6;
}
.icon-discord:before {
  content: "\e900";
  color: #7289da;
}
.icon-facebook:before {
  content: "\e90b";
  color: #1877f2;
}
.icon-github:before {
  content: "\e901";
}
.icon-hatenabookmark:before {
  content: "\e907";
  color: #00a4de;
}
.icon-html5:before {
  content: "\e908";
  color: #e34f26;
}
.icon-instagram:before {
  content: "\e902";
  color: #e4405f;
}
.icon-javascript:before {
  content: "\e90c";
  color: #f7df1e;
}
.icon-line:before {
  content: "\e90f";
  color: #00c300;
}
.icon-netlify:before {
  content: "\e903";
  color: #00c7b7;
}
.icon-node-dot-js:before {
  content: "\e909";
  color: #393;
}
.icon-spotify:before {
  content: "\e90a";
  color: #1ed760;
}
.icon-twitter:before {
  content: "\e905";
  color: #1da1f2;
}
.icon-youtube:before {
  content: "\e906";
  color: #f00;
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-history:before {
  content: "\e94d";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-share:before {
  content: "\ea82";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-mirrativ:before{
	content:"";
	display:inline-block;
	width:1em;
	height:1em;
	background:url(/img/icon/mirrativ.png) no-repeat;
	background-size:contain;
}
.icon-twicas:before{
	content:"";
	display:inline-block;
	width:1em;
	height:1em;
	background:url(/img/icon/twicas.png) no-repeat;
	background-size:contain;
}
.icon-niconico:before{
	content:"";
	display:inline-block;
	width:1em;
	height:1em;
	background:url(/img/icon/niconico.png) no-repeat;
	background-size:contain;
}
